BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//Buzz Events//EN
CALSCALE:GREGORIAN
METHOD:PUBLISH
BEGIN:VEVENT
UID:{{uid}}@buzz
DTSTAMP:{{now}}
DTSTART;TZID={{timezone}}:{{start}}
DTEND;TZID={{timezone}}:{{end}}
SUMMARY:{{title}}
LOCATION:{{location}}
{% if organizer_email %}ORGANIZER;CN={{organizer_name}}:mailto:{{organizer_email}}
{% endif %}
ATTENDEE;CN=Attendee;RSVP=TRUE:mailto:{{attendee_email}}
DESCRIPTION:{{description}}
END:VEVENT
END:VCALENDAR